# Calchas Code Owners - Core Team muss PRs reviewen

# Alle Dateien

- @BFS-IT-AB/Core-Team

# Service Worker & Caching System (extra kritisch)

/service-worker.js @BFS-IT-AB/Core-Team
/js/utils/cache.js @BFS-IT-AB/Core-Team
/dev/tools/sync-version.js @BFS-IT-AB/Core-Team

# Manifest & Config

/manifest.json @BFS-IT-AB/Core-Team
/js/config/\*\* @BFS-IT-AB/Core-Team
